<% include ../partials/header%>
<div class="container">
<div class="row">
   <h1 style="text-align: center">Edit comment to <%=cg.name%></h1>

<div style="width: 50% ; margin : 30px auto;">
<form action="/campgrounds/<%=cg._id%>/comments/<%=cm._id%>?_method=PUT" method="POST">
  <div class="form-group">
  <input class="form-control" type="text" name="comment[text]" placeholder="text" value="<%=cm.text%>">
  </div>
  
  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit!">
 
</form>
<a href="/campgrounds">Go Back</a>
</div>

</div>
</div>
<% include ../partials/footer%>